$brand-primary:           #00a500;
$headings-color:          $brand-primary;
$jumbotron-pattern:       "http://subtlepatterns.com/patterns/noisy_grid.png";

@import "bootswatch/_variables";
@import "bootstrap/_variables";
